<div class="teal">
	<h3 class="header"> 
		<a id="about_header" href="#about"> About </a> |
		<a id="projects_header" href="#projects"> Projects </a> | 
		<a id="skills_header" href="#skills"> Skills </a> | 
		<a href="/contact/index"> Contact </a> | 
		<a id="follow"> Follow </a> 
		
		<h4 class="social_header">
			<center>
				<a target="_blank" href='https://www.facebook.com/jennifer.fry'><img class="social" src="https://cdn3.iconfinder.com/data/icons/peelicons-vol-1/50/Facebook-128.png"></a>
				<a target="_blank" href="https://twitter.com/siciliana"><img class="social" src="https://cdn3.iconfinder.com/data/icons/peelicons-vol-1/50/Twitter-128.png"></a>
				<a target="_blank" href="https://plus.google.com/u/0/+JenniferFry"><img class="social" src="https://cdn3.iconfinder.com/data/icons/peelicons-vol-1/50/Google_-128.png"></a>
				<a target="_blank" href="http://www.linkedin.com/in/jenniferfry"><img class="social" src="https://cdn3.iconfinder.com/data/icons/peelicons-vol-1/50/LinkedIn-128.png"></a>
				<a target="_blank" href="http://instagram.com/jenfyre"><img class="social" src="https://cdn3.iconfinder.com/data/icons/peelicons-vol-1/50/Intsagram-128.png"></a>
				<a target="_blank" href="http://www.pinterest.com/k0sm0p0lyte/"><img class="social" src="https://cdn3.iconfinder.com/data/icons/peelicons-vol-1/50/Pinterest-128.png"></a>
				<a target="_blank" href="http://teamtreehouse.com/jenfry"><img class="social" src="https://cdn3.iconfinder.com/data/icons/peelicons-vol-1/50/Treehouse-128.png"></a>
				<a target="_blank" href="https://github.com/siciliana"><img class="social" src="http://www.peterhajas.com/media/img/github_icon.png"></a>
			</center>
		</h4> 
	</h3> 

</div>