<!-- <script src="//code.jquery.com/jquery-1.10.2.js"></script> -->

<%= render "navbar" %>

<div class="tomato">
	<h1>Jennifer Fry</h1>
	<center><div class="jen"></div></center>
	<h2>Web Developer, Global Vagabond</h2>
	<br>

</div>

<div id="about" class="about">
	<h3 class="about"> About Me </h3>
		<div class="paragraph">
			<p> Full stack web developer, recent graduate of <a href="http://www.devbootcamp.com">Dev Bootcamp, Chicago,</a> and international woman of mystery with a passion for building (communities, projects, paradigm shifting tools) and exploration (new countries, industries, challenges). Experience ranges over the Czech Republic, Mexico, US, in the startup world, travel & hospitality, public relations, among others. Passion for people, new technologies, experiences, and horizons. Always questioning, always learning, always shaking things up. Fiercely independent, but a key team player, as the situation requires.</p>
			<br>
			
		</div>
</div>
<br>
<br>
<div id="skills" class="skills">
	<h3 class="skills"> Programming Skills </h3>
		<div class="paragraph">
			<ul>
				<li>Ruby on Rails</li>
				<li>HTML5</li>
				<li>CSS3</li>
				<li>jQuery</li>
				<li>Ajax</li>
				<li>JavaScript</li>
				<li>Active Record</li>
				<li>PostgreSQL/Sqlite</li>
				<li>Pair Programming</li>
				<li>Git</li>
				<li>Agile Workflow</li>
			</ul>
		</div>
</div>
<br>
<br>
<div id="projects" class="projects">
	<h3 class="projects"> Projects </h3>
		<div class="paragraph">
			<h4> <a id="cfh"> >>Coders for Humanity </a>
				<a class="octokitty cfh" target="_blank" href="http://www.codersforhumanity.org"><img class="social" src="http://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/External_link_font_awesome.svg/120px-External_link_font_awesome.svg.png"></a>  
				<a class ="octokitty cfh" target="_blank" href="https://github.com/siciliana/coders_for_humanity"><img src="http://www.peterhajas.com/media/img/github_icon.png"></a></h4>
			<p class="cfh">
				
				<br>
				In my journey to Dev Bootcamp, I knew I wanted to learn coding as a force for good in the world.  For my final project, I created "Coders for Humanity" - a community-minded platform to connect talented web developers with people in need of technical solutions; those working in socially-based missions, without technical know-how, or lacking financial resources. For this project I served as project manager and focused on front development and CSS integration with Bootstrap. 
		</div>
		<br>
		<div class="paragraph">
			<h4> <a id="btc">>>Better than Congress </a>
			<a class="octokitty btc" target="_blank" href="http://better-than-congress.herokuapp.com/"><img class="social" src="http://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/External_link_font_awesome.svg/120px-External_link_font_awesome.svg.png"></a>  
				<a class ="octokitty btc" target="_blank" href="https://github.com/siciliana/better_than_congress"><img src="http://www.peterhajas.com/media/img/github_icon.png"></a></h4>
			<br>
			<p class="btc">Designed and coded a satirical web app that compares notorious celebrities and other less-desirable things with members of Congress in a fun voting game.
			<br>
		</div>
		<br>
</div>

<div class="experience">
	<h3 class="experience"> <a target="_blank" href="http://www.linkedin.com/profile/view?id=8519690&authType=name&authToken=6H-4&locale=en_US&pvs=pp&trk=ppro_viewmore"> Life Before Tech Geekdom? </a></h3>
</div>
