<%= render "navbar" %>

<div class="album_body">
	<ul class="instagram">
	  <% @instagram.each do |instagram| %>

	  <li><%= image_tag instagram.images.standard_resolution.url, :class=> "insta_img" %></li>

	  <% end %>
	</ul>
</div> 