<%= render "navbar" %>


<div id="wufoo-m1jybijx1gu89ts">
	Fill out my <a href="https://siciliana.wufoo.com/forms/m1jybijx1gu89ts">online form</a>.
</div>

<script type="text/javascript">var m1jybijx1gu89ts;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'siciliana', 
'formHash':'m1jybijx1gu89ts', 
'autoResize':true,
'height':'464',
'async':true,
'host':'wufoo.com',
'header':'show', 
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { m1jybijx1gu89ts = new WufooForm();m1jybijx1gu89ts.initialize(options);m1jybijx1gu89ts.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
