.album_body {
	padding-top: 200px;
}
img.insta_img {
	height: 100px;
	border-radius: 50%;
}

img.insta_img:hover {
	height: 400px;
	-webkit-transition: width 1s, height 1s, -webkit-transform 1s;
	transform:rotate(360deg);
	-webkit-transform:rotate(360deg); /* Safari */
}

ul.instagram {
	text-align: center;
}
ul.instagram li {
	display:inline;
}

.teal {
	background: teal;
	top:0;
	height: 60px;
	position: fixed;
	width: 100%;
}