* {
	margin: 0px;
	padding: 0px;
}

html {
	font-family: 'Josefin Slab', serif;
	background: -webkit-linear-gradient(tomato 80%, white 20%); /* For Safari */
	background: -o-linear-gradient(tomato 80%, white ); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(tomato 80%, white ); /* For Firefox 3.6 to 15 */
	background: linear-gradient(tomato, white ); /* Standard syntax (must be last) */
	background-repeat: no-repeat;
}

.tomato {
	/*margin:0;*/
	padding-top: 100px;
}

.teal {
	background: teal;
	top:0;
	height: 60px;
	position: fixed;
	width: 100%;
}

.submenu {
	display: none;
}

h1 {
	padding-top: 10px;
	margin: 0;
	text-align: center;
	font-size: 80px;
	color: #FFCC66;
}

h2 {
	text-align: center;
	font-size: 30px;
	color: #FFCC66;
	padding-top:10px;
}

h3.header {
	padding-left: 0;
	padding-bottom: 0;
}

h3 {
	margin: 0;
	padding: 20px;
	text-align: center;
	padding-left: 20%;
}

h4 {
	padding-left: 20%;
	color:teal;
	font-size: 20px;
}

.experience, h4 a:hover {
	color: #FFCC66;
}

h3.about, .skills, .projects {
	color: teal;
	text-align: left;
	font-size: 30px;
}

.skills ul li {
	color: black;
	padding-left: 20%;
	font-size: 20px;
}

a {
	text-decoration: none;
	color: black;
}

h3 a:hover {
	color: #FFCC66;
}

p {
	padding-left: 20%; 
	width: 60%;
	color: black;
	font-size: 20px;
}

.paragraph p {
	font-size: 20px;
}

.jen { 
	margin: 20px;
	border-radius: 50%;
	background-image: url('jen.jpeg');
	background-repeat: no-repeat;
	width: 150px;
	height: 150px;
} 


.social {
	height: 35px;
}

h4.social_header {
	width:100%;
	padding-left: 0;
	padding-top: 20px;
}

h3.experience {
	color: teal;
	text-align: left;
	font-size: 30px;
}

h3.experience a{
	color: teal;
}
.octokitty img {
	height: 14px;
}
